@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Latest News</h1>
</div>

<br />

<div class="news-container">
    @foreach (var article in ViewBag.NewsList)
    {
        <div class="news-article">
            <h3 class="news-title">@article.Title</h3>
            <p class="news-date"><small>@article.Date.ToShortDateString()</small></p>
            <p class="news-headline">@article.HeadLine</p>
            @if (!string.IsNullOrEmpty(article.Photo))
            {
                <img src="~/imag/@article.Photo" alt="Article Image" class="news-photo" />
            }
            <a href="@Url.Action("Details", "Articles", new { id = article.Id })" class="news-readmore">Read more</a>
        </div>
    }
</div>
